- include_stylesheet('admin/group')
= hidden_field_tag "page[group_ids][]", ""

.row
  %p
    - fields_for @page do |f|
      - f.fields_for :permissions do |pf|
        = t('allowed_groups')
        - Group.find(:all).each do |g|
          - if @page.group_is_inherited?(g)
            %label{:for => "page_group_#{g.id}", :class => 'disabled', :title => t('inherited_group')}
              = check_box_tag "page[group_ids][]", g.id, @page.has_inherited_group?(g), {:id => "page_group_#{g.id}", :disabled => @page.group_is_inherited?(g)}
              = g.name
          - else
            %label{:for => "page_group_#{g.id}"}
              = check_box_tag "page[group_ids][]", g.id, @page.has_inherited_group?(g), {:id => "page_group_#{g.id}", :disabled => @page.group_is_inherited?(g)}
              = g.name
        %br
        %span.formnote
          = t('public_if_no_groups')